.d1 div{
    height: 400px;
    /* width: 600px;     */
}
.d1 div img{
    height: 100%;
    width: 100%;
    object-fit: contain; 
}
 
/* .slick-slide{
    height: 80px;
    width: 80px;
}
.slick-slide img{
    height: 100%;
    width: 100%;
    object-fit: contain; 
} */
.thumb{
    width: 80px;
    height: 80px;
}
.thumb img{
    width: 100%;
    height: 100%;
}
 
.d1 { 
    padding: 5px;
}
.slick-prev:before, .slick-next:before{
    color: #000000;
}
 